In [19]:
# importar bibliotecas:

## pandas = para trabalhar com as tabelas
import pandas

## IPython = para "envio" de emails
from IPython.display import HTML

## pathlib = para manuseio de pastas no computador
import pathlib

In [20]:
# importar bases de dados:

## obs: importante deixar, neste caso, o arquivo python e a pasta "Bases de Dados" dentro da mesma pasta
emails = pandas.read_excel(r'Bases de Dados\Emails.xlsx')
lojas = pandas.read_csv(r'Bases de Dados\Lojas.csv', encoding='latin-1', sep=';')
vendas = pandas.read_excel(r'Bases de Dados\Vendas.xlsx')
display(emails)
display(lojas)
display(vendas)

,Loja,Gerente,E-mail
0,Iguatemi Esplanada,Helena,meuemail+helena@gmail.com
1,Shopping Midway Mall,Alice,meuemail+alice@gmail.com
2,Norte Shopping,Laura,meuemail+laura@gmail.com
3,Shopping Iguatemi Fortaleza,Manuela,meuemail+manuela@gmail.com
4,Shopping União de Osasco,Valentina,meuemail+valentina@gmail.com
5,Shopping Center Interlagos,Sophia,meuemail+sophia@gmail.com
6,Rio Mar Recife,Isabella,meuemail+isabella@gmail.com
7,Salvador Shopping,Heloisa,meuemail+heloisa@gmail.com
8,Rio Mar Shopping Fortaleza,Luiza,meuemail+luiza@gmail.com
9,Shopping Center Leste Aricanduva,Julia,meuemail+julia@gmail.com
10,Ribeirão Shopping,Lorena,meuemail+lorena@gmail.com
11,Shopping Morumbi,Livia,meuemail+livia@gmail.com
12,Parque Dom Pedro Shopping,Maria Luiza,meuemail+maria_luiza@gmail.com
13,Bourbon Shopping SP,Cecilia,meuemail+cecilia@gmail.com
14,Palladium Shopping Curitiba,Eloa,meuemail+eloa@gmail.com
15,Passei das Águas Shopping,Miguel,meuemail+miguel@gmail.com
16,Center Shopping Uberlândia,Arthur,meuemail+arthur@gmail.com
17,Shopping Recife,Heitor,meuemail+heitor@gmail.com
18,Shopping Vila Velha,Bernardo,meuemail+bernardo@gmail.com
19,Shopping SP Market,Davi,meuemail+davi@gmail.com
20,Shopping Eldorado,Theo,meuemail+theo@gmail.com
21,Shopping Ibirapuera,Lorenzo,meuemail+lorenzo@gmail.com
22,Novo Shopping Ribeirão Preto,Gabriel,meuemail+gabriel@gmail.com
23,Iguatemi Campinas,Pedro,meuemail+pedro@gmail.com
24,Shopping Barra,Benjamin,meuemail+benjamin@gmail.com
25,Diretoria,Diretoria,meuemail+diretoria@gmail.com

    ID Loja                              Loja
0         1                Iguatemi Esplanada
1         2              Shopping Midway Mall
2         3                    Norte Shopping
3         4       Shopping Iguatemi Fortaleza
4         5          Shopping União de Osasco
5         6        Shopping Center Interlagos
6         7                    Rio Mar Recife
7         8                 Salvador Shopping
8         9        Rio Mar Shopping Fortaleza
9        10  Shopping Center Leste Aricanduva
10       11                 Ribeirão Shopping
11       12                  Shopping Morumbi
12       13         Parque Dom Pedro Shopping
13       14               Bourbon Shopping SP
14       15       Palladium Shopping Curitiba
15       16         Passei das Águas Shopping
16       17        Center Shopping Uberlândia
17       18                   Shopping Recife
18       19               Shopping Vila Velha
19       20                Shopping SP Market
20       21                 Shopping Eldorado
21       22               Shopping Ibirapuera
22       23      Novo Shopping Ribeirão Preto
23       24                 Iguatemi Campinas
24       25                    Shopping Barra

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,1,Sapato Estampa,1,358,358
1,1,2019-01-01,1,Camiseta,2,180,360
2,1,2019-01-01,1,Sapato Xadrez,1,368,368
3,2,2019-01-02,3,Relógio,3,200,600
4,2,2019-01-02,3,Chinelo Liso,1,71,71
...,...,...,...,...,...,...,...
100994,69996,2019-12-26,17,Short Listrado,2,102,204
100995,69996,2019-12-26,17,Mochila,4,270,1080
100996,69996,2019-12-26,17,Pulseira Estampa,1,87,87
100997,69997,2019-12-26,11,Camisa Listrado,1,108,108
100998,69997,2019-12-26,11,Short Linho,2,133,266

In [21]:
# incluir nome da loja em vendas, ou seja, mesclar as tabelas vendas e lojas. Isso é feito para facilitar o processo de 
# criação da tabela para cada loja

vendas = vendas.merge(lojas, on='ID Loja')
display(vendas)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Loja
0,1,2019-01-01,1,Sapato Estampa,1,358,358,Iguatemi Esplanada
1,1,2019-01-01,1,Camiseta,2,180,360,Iguatemi Esplanada
2,1,2019-01-01,1,Sapato Xadrez,1,368,368,Iguatemi Esplanada
3,21,2019-01-02,1,Camisa Gola V Listrado,2,116,232,Iguatemi Esplanada
4,34,2019-01-02,1,Sapato Listrado,1,363,363,Iguatemi Esplanada
...,...,...,...,...,...,...,...,...
100994,69846,2019-12-25,8,Short Estampa,2,96,192,Salvador Shopping
100995,69846,2019-12-25,8,Tênis Estampa,5,256,1280,Salvador Shopping
100996,69850,2019-12-25,8,Calça Estampa,4,177,708,Salvador Shopping
100997,69972,2019-12-26,8,Terno Liso,3,720,2160,Salvador Shopping
100998,69972,2019-12-26,8,Sapato Estampa,5,358,1790,Salvador Shopping

In [22]:
# criar uma tabela para cada loja
## ideia: fazer um dicionario em que cada item é uma tabela de uma loja. Ou seja, para cada loja na tabela lojas, cria-se uma
## chave (para a loja) e o valor é a tabela filtrada da loja. Assim, conseguimos fazer um 'For' para percorrer a coluna Loja e
## armazenar cada tabela nesse dicionario.

dicionario_lojas = {}
for loja in lojas['Loja']: # para cada loja na coluna Loja da tabela lojas...
    dicionario_lojas[loja] = vendas.loc[vendas['Loja']==loja,:] # ...cria uma chave para a loja e o valor é a tabela de vendas filtrada na loja

## display de dois exemplos para ver se deu certo
display(dicionario_lojas['Iguatemi Esplanada'])
display(dicionario_lojas['Norte Shopping'])

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Loja
0,1,2019-01-01,1,Sapato Estampa,1,358,358,Iguatemi Esplanada
1,1,2019-01-01,1,Camiseta,2,180,360,Iguatemi Esplanada
2,1,2019-01-01,1,Sapato Xadrez,1,368,368,Iguatemi Esplanada
3,21,2019-01-02,1,Camisa Gola V Listrado,2,116,232,Iguatemi Esplanada
4,34,2019-01-02,1,Sapato Listrado,1,363,363,Iguatemi Esplanada
...,...,...,...,...,...,...,...,...
3975,69899,2019-12-25,1,Sapato Xadrez,4,368,1472,Iguatemi Esplanada
3976,69903,2019-12-25,1,Terno Liso,5,720,3600,Iguatemi Esplanada
3977,69928,2019-12-25,1,Meia,1,30,30,Iguatemi Esplanada
3978,69944,2019-12-25,1,Gorro Xadrez,5,85,425,Iguatemi Esplanada
3979,69944,2019-12-25,1,Sapato Xadrez,2,368,736,Iguatemi Esplanada

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Loja
3980,2,2019-01-02,3,Relógio,3,200,600,Norte Shopping
3981,2,2019-01-02,3,Chinelo Liso,1,71,71,Norte Shopping
3982,7,2019-01-02,3,Camisa Gola V Listrado,1,116,116,Norte Shopping
3983,7,2019-01-02,3,Camisa Liso,1,105,105,Norte Shopping
3984,73,2019-01-02,3,Cueca Xadrez,5,60,300,Norte Shopping
...,...,...,...,...,...,...,...,...
8154,69888,2019-12-25,3,Tênis Linho,1,294,294,Norte Shopping
8155,69916,2019-12-25,3,Terno,2,700,1400,Norte Shopping
8156,69962,2019-12-25,3,Meia Linho,2,78,156,Norte Shopping
8157,69976,2019-12-26,3,Tênis Xadrez,1,259,259,Norte Shopping
8158,69976,2019-12-26,3,Casaco,4,250,1000,Norte Shopping

In [23]:
# definir o dia
## data é um numero. Logo, o maior valor é a data mais recente. Pegamos o maior valor para saber o ultimo dia.

dia_indicador = vendas['Data'].max()
print(dia_indicador.day)

26

In [24]:
# identificar se a pasta ja existe

## o nome das pastas será o nome das lojas. POR ISSO, VERIFICAREI SE JÁ EXISTEM PASTAS COM OS NOMES DAS LOJAS

## colocar o caminho numa variavel
caminho_backup = pathlib.Path(r'Backup Arquivos Lojas')

1## fazer uma lista das pastas que já existem (importante para o passo do FOR)
arquivos_pasta_backup = caminho_backup.iterdir()

2## fazer uma lista vazia para receber os nomes das pastas (importante para o proximo passo FOR)
lista_nomes_backup = []

2## para cada pasta na pasta de backup, adicione o nome da pasta na lista de nomes
for arquivo in arquivos_pasta_backup:
    lista_nomes_backup.append(arquivo.name)

3## verificar se já tem o nome da loja na lista, pq se não tiver, é pq é preciso criar uma pasta com esse nome
for loja in dicionario_lojas: # para cada chave no diconario
    if loja not in lista_nomes_backup: # se nao tiver a chave na lista de nomes
        nova_pasta = caminho_backup / loja # cria-se o caminho da nova pasta com o nome da loja
        nova_pasta.mkdir() # cria-se a nova pasta
    
    ## salvar dentro da pasta
    ## já tendo a pasta, criamos aqui o caminho do arquivo com seu nome (cria nome e caminho)
    nome_arquivo = f'{dia_indicador.day}_{dia_indicador.month}_{loja}.xlsx'
    local_arquivo = caminho_backup / loja / nome_arquivo
    
    ## pegar a tabela da loja por meio do dicionario e transformar em um arquivo excel (leva o excel para o caminho)
    dicionario_lojas[loja].to_excel(local_arquivo)

In [25]:
# definicao de metas

meta_faturamento_dia = 1000
meta_faturamento_ano = 1650000
meta_qteprodutos_dia = 4
meta_qteprodutos_ano = 120
meta_ticketmedio_dia = 500
meta_ticketmedio_ano = 500

In [26]:
for loja in dicionario_lojas:

    # Criar 2 tabelas para fazer os indicadores (acumulado do ano, filtrando só a loja; e do dia, filtrando loja e dia)
    vendas_loja = dicionario_lojas[loja]
    vendas_loja_dia = vendas_loja.loc[vendas_loja['Data']==dia_indicador, :]


    # faturamento do ano e do dia (somar a coluna valor final)
    faturamento_ano = vendas_loja['Valor Final'].sum()
    #print(faturamento_ano)
    faturamento_dia = vendas_loja_dia['Valor Final'].sum()
    #print(faturamento_dia)

    # diversidade de produtos (metodo unique para dar os valores unicos e calcular a len da lista gerada pelo unique)
    qte_produtos_ano = len(vendas_loja['Produto'].unique())
    #print(qte_produtos_ano)
    qte_produtos_dia = len(vendas_loja_dia['Produto'].unique())
    #print(qte_produtos_dia)

    # ticket medio
    valor_por_venda = vendas_loja.groupby('Código Venda').sum()
    
    ticket_medio_ano = valor_por_venda['Valor Final'].mean()
    #print(ticket_medio_ano)
    valor_por_venda_dia = vendas_loja_dia.groupby('Código Venda').sum()
    
    ticket_medio_dia = valor_por_venda_dia['Valor Final'].mean()
    #print(ticket_medio_dia)
    
    if faturamento_dia >= meta_faturamento_dia:
        cor_fat_dia = 'green'
    else:
        cor_fat_dia = 'red'
    if faturamento_ano >= meta_faturamento_ano:
        cor_fat_ano = 'green'
    else:
        cor_fat_ano = 'red'
    if qte_produtos_dia >= meta_qteprodutos_dia:
        cor_qte_dia = 'green'
    else:
        cor_qte_dia = 'red'
    if qte_produtos_ano >= meta_qteprodutos_ano:
        cor_qte_ano = 'green'
    else:
        cor_qte_ano = 'red'
    if ticket_medio_dia >= meta_ticketmedio_dia:
        cor_ticket_dia = 'green'
    else:
        cor_ticket_dia = 'red'
    if ticket_medio_ano >= meta_ticketmedio_ano:
        cor_ticket_ano = 'green'
    else:
        cor_ticket_ano = 'red'

    nome = emails.loc[emails['Loja']==loja, 'Gerente'].values[0] # nome da pessoa. O values[0] traz o unico resultado em formato
    # de string, nao em tabela.
    
    Texto = f'''
    <p>Bom dia, {nome}!</p>

    <p>O resultado de ontem <strong>({dia_indicador.day}/{dia_indicador.month})</strong> da <strong>loja {loja}</strong> foi: </p>

        <table>
          <tr>
            <th>Indicador</th>
            <th>Valor Dia</th>
            <th>Meta Dia</th>
            <th>Cenário Dia</th>
          </tr>
          <tr>
            <td>Faturamento</td>
            <td style="text-align: center">R${faturamento_dia:.2f}</td>
            <td style="text-align: center">R${meta_faturamento_dia:.2f}</td>
            <td style="text-align: center"><font color="{cor_fat_dia}">◙</font></td>
          </tr>
          <tr>
            <td>Diversidade de Produtos</td>
            <td style="text-align: center">{qte_produtos_dia}</td>
            <td style="text-align: center">{meta_qteprodutos_dia}</td>
            <td style="text-align: center"><font color="{cor_qte_dia}">◙</font></td>
          </tr>
          <tr>
            <td>Ticket Médio</td>
            <td style="text-align: center">R${ticket_medio_dia:.2f}</td>
            <td style="text-align: center">R${meta_ticketmedio_dia:.2f}</td>
            <td style="text-align: center"><font color="{cor_ticket_dia}">◙</font></td>
          </tr>
        </table>
        <br>
        <br>
        <table>
          <tr>
            <th>Indicador</th>
            <th>Valor Ano</th>
            <th>Meta Ano</th>
            <th>Cenário Ano</th>
          </tr>
          <tr>
            <td>Faturamento</td>
            <td style="text-align: center">R${faturamento_ano:.2f}</td>
            <td style="text-align: center">R${meta_faturamento_ano:.2f}</td>
            <td style="text-align: center"><font color="{cor_fat_ano}">◙</font></td>
          </tr>
          <tr>
            <td>Diversidade de Produtos</td>
            <td style="text-align: center">{qte_produtos_ano}</td>
            <td style="text-align: center">{meta_qteprodutos_ano}</td>
            <td style="text-align: center"><font color="{cor_qte_ano}">◙</font></td>
          </tr>
          <tr>
            <td>Ticket Médio</td>
            <td style="text-align: center">R${ticket_medio_ano:.2f}</td>
            <td style="text-align: center">R${meta_ticketmedio_ano:.2f}</td>
            <td style="text-align: center"><font color="{cor_ticket_ano}">◙</font></td>
          </tr>
        </table>

    <p>Qualquer dúvida, estou à disposição.</p>
    <p>Att., Paulo</p>
    <br>
    <br>
    ''' 
    
    display(HTML(Texto))

C:\Users\Paulo\AppData\Local\Temp\ipykernel_234728\4161843187.py:21: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  valor_por_venda = vendas_loja.groupby('Código Venda').sum()
C:\Users\Paulo\AppData\Local\Temp\ipykernel_234728\4161843187.py:25: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  valor_por_venda_dia = vendas_loja_dia.groupby('Código Venda').sum()

C:\Users\Paulo\AppData\Local\Temp\ipykernel_234728\4161843187.py:21: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  valor_por_venda = vendas_loja.groupby('Código Venda').sum()
C:\Users\Paulo\AppData\Local\Temp\ipykernel_234728\4161843187.py:25: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  valor_por_venda_dia = vendas_loja_dia.groupby('Código Venda').sum()

C:\Users\Paulo\AppData\Local\Temp\ipykernel_234728\4161843187.py:21: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  valor_por_venda = vendas_loja.groupby('Código Venda').sum()
C:\Users\Paulo\AppData\Local\Temp\ipykernel_234728\4161843187.py:25: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  valor_por_venda_dia = vendas_loja_dia.groupby('Código Venda').sum()

C:\Users\Paulo\AppData\Local\Temp\ipykernel_234728\4161843187.py:21: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  valor_por_venda = vendas_loja.groupby('Código Venda').sum()
C:\Users\Paulo\AppData\Local\Temp\ipykernel_234728\4161843187.py:25: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  valor_por_venda_dia = vendas_loja_dia.groupby('Código Venda').sum()

C:\Users\Paulo\AppData\Local\Temp\ipykernel_234728\4161843187.py:21: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  valor_por_venda = vendas_loja.groupby('Código Venda').sum()
C:\Users\Paulo\AppData\Local\Temp\ipykernel_234728\4161843187.py:25: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  valor_por_venda_dia = vendas_loja_dia.groupby('Código Venda').sum()

C:\Users\Paulo\AppData\Local\Temp\ipykernel_234728\4161843187.py:21: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  valor_por_venda = vendas_loja.groupby('Código Venda').sum()
C:\Users\Paulo\AppData\Local\Temp\ipykernel_234728\4161843187.py:25: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  valor_por_venda_dia = vendas_loja_dia.groupby('Código Venda').sum()

C:\Users\Paulo\AppData\Local\Temp\ipykernel_234728\4161843187.py:21: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  valor_por_venda = vendas_loja.groupby('Código Venda').sum()
C:\Users\Paulo\AppData\Local\Temp\ipykernel_234728\4161843187.py:25: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  valor_por_venda_dia = vendas_loja_dia.groupby('Código Venda').sum()

C:\Users\Paulo\AppData\Local\Temp\ipykernel_234728\4161843187.py:21: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  valor_por_venda = vendas_loja.groupby('Código Venda').sum()
C:\Users\Paulo\AppData\Local\Temp\ipykernel_234728\4161843187.py:25: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  valor_por_venda_dia = vendas_loja_dia.groupby('Código Venda').sum()

C:\Users\Paulo\AppData\Local\Temp\ipykernel_234728\4161843187.py:21: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  valor_por_venda = vendas_loja.groupby('Código Venda').sum()
C:\Users\Paulo\AppData\Local\Temp\ipykernel_234728\4161843187.py:25: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  valor_por_venda_dia = vendas_loja_dia.groupby('Código Venda').sum()

C:\Users\Paulo\AppData\Local\Temp\ipykernel_234728\4161843187.py:21: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  valor_por_venda = vendas_loja.groupby('Código Venda').sum()
C:\Users\Paulo\AppData\Local\Temp\ipykernel_234728\4161843187.py:25: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  valor_por_venda_dia = vendas_loja_dia.groupby('Código Venda').sum()

C:\Users\Paulo\AppData\Local\Temp\ipykernel_234728\4161843187.py:21: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  valor_por_venda = vendas_loja.groupby('Código Venda').sum()
C:\Users\Paulo\AppData\Local\Temp\ipykernel_234728\4161843187.py:25: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  valor_por_venda_dia = vendas_loja_dia.groupby('Código Venda').sum()

C:\Users\Paulo\AppData\Local\Temp\ipykernel_234728\4161843187.py:21: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  valor_por_venda = vendas_loja.groupby('Código Venda').sum()
C:\Users\Paulo\AppData\Local\Temp\ipykernel_234728\4161843187.py:25: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  valor_por_venda_dia = vendas_loja_dia.groupby('Código Venda').sum()

C:\Users\Paulo\AppData\Local\Temp\ipykernel_234728\4161843187.py:21: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  valor_por_venda = vendas_loja.groupby('Código Venda').sum()
C:\Users\Paulo\AppData\Local\Temp\ipykernel_234728\4161843187.py:25: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  valor_por_venda_dia = vendas_loja_dia.groupby('Código Venda').sum()

C:\Users\Paulo\AppData\Local\Temp\ipykernel_234728\4161843187.py:21: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  valor_por_venda = vendas_loja.groupby('Código Venda').sum()
C:\Users\Paulo\AppData\Local\Temp\ipykernel_234728\4161843187.py:25: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  valor_por_venda_dia = vendas_loja_dia.groupby('Código Venda').sum()

C:\Users\Paulo\AppData\Local\Temp\ipykernel_234728\4161843187.py:21: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  valor_por_venda = vendas_loja.groupby('Código Venda').sum()
C:\Users\Paulo\AppData\Local\Temp\ipykernel_234728\4161843187.py:25: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  valor_por_venda_dia = vendas_loja_dia.groupby('Código Venda').sum()

C:\Users\Paulo\AppData\Local\Temp\ipykernel_234728\4161843187.py:21: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  valor_por_venda = vendas_loja.groupby('Código Venda').sum()
C:\Users\Paulo\AppData\Local\Temp\ipykernel_234728\4161843187.py:25: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  valor_por_venda_dia = vendas_loja_dia.groupby('Código Venda').sum()

C:\Users\Paulo\AppData\Local\Temp\ipykernel_234728\4161843187.py:21: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  valor_por_venda = vendas_loja.groupby('Código Venda').sum()
C:\Users\Paulo\AppData\Local\Temp\ipykernel_234728\4161843187.py:25: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  valor_por_venda_dia = vendas_loja_dia.groupby('Código Venda').sum()

C:\Users\Paulo\AppData\Local\Temp\ipykernel_234728\4161843187.py:21: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  valor_por_venda = vendas_loja.groupby('Código Venda').sum()
C:\Users\Paulo\AppData\Local\Temp\ipykernel_234728\4161843187.py:25: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  valor_por_venda_dia = vendas_loja_dia.groupby('Código Venda').sum()

C:\Users\Paulo\AppData\Local\Temp\ipykernel_234728\4161843187.py:21: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  valor_por_venda = vendas_loja.groupby('Código Venda').sum()
C:\Users\Paulo\AppData\Local\Temp\ipykernel_234728\4161843187.py:25: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  valor_por_venda_dia = vendas_loja_dia.groupby('Código Venda').sum()

C:\Users\Paulo\AppData\Local\Temp\ipykernel_234728\4161843187.py:21: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  valor_por_venda = vendas_loja.groupby('Código Venda').sum()
C:\Users\Paulo\AppData\Local\Temp\ipykernel_234728\4161843187.py:25: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  valor_por_venda_dia = vendas_loja_dia.groupby('Código Venda').sum()

C:\Users\Paulo\AppData\Local\Temp\ipykernel_234728\4161843187.py:21: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  valor_por_venda = vendas_loja.groupby('Código Venda').sum()
C:\Users\Paulo\AppData\Local\Temp\ipykernel_234728\4161843187.py:25: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  valor_por_venda_dia = vendas_loja_dia.groupby('Código Venda').sum()

C:\Users\Paulo\AppData\Local\Temp\ipykernel_234728\4161843187.py:21: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  valor_por_venda = vendas_loja.groupby('Código Venda').sum()
C:\Users\Paulo\AppData\Local\Temp\ipykernel_234728\4161843187.py:25: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  valor_por_venda_dia = vendas_loja_dia.groupby('Código Venda').sum()

C:\Users\Paulo\AppData\Local\Temp\ipykernel_234728\4161843187.py:21: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  valor_por_venda = vendas_loja.groupby('Código Venda').sum()
C:\Users\Paulo\AppData\Local\Temp\ipykernel_234728\4161843187.py:25: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  valor_por_venda_dia = vendas_loja_dia.groupby('Código Venda').sum()

C:\Users\Paulo\AppData\Local\Temp\ipykernel_234728\4161843187.py:21: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  valor_por_venda = vendas_loja.groupby('Código Venda').sum()
C:\Users\Paulo\AppData\Local\Temp\ipykernel_234728\4161843187.py:25: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  valor_por_venda_dia = vendas_loja_dia.groupby('Código Venda').sum()

C:\Users\Paulo\AppData\Local\Temp\ipykernel_234728\4161843187.py:21: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  valor_por_venda = vendas_loja.groupby('Código Venda').sum()
C:\Users\Paulo\AppData\Local\Temp\ipykernel_234728\4161843187.py:25: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  valor_por_venda_dia = vendas_loja_dia.groupby('Código Venda').sum()

In [27]:
# ranking para diretoria:

# ranking anual:
faturamento_lojas = vendas.groupby('Loja')[['Loja', 'Valor Final']].sum() # filtra a tabela por loja e soma os valores. Mostra 2
# colunas, 'Loja' e 'Valor Final'
faturamento_lojas_ano = faturamento_lojas.sort_values(by='Valor Final', ascending=False) # ordena a tabela filtrada = descendente
print('Ranking faturamento anual:')
display(faturamento_lojas_ano)
# cria-se um arquivo excel
nome_arquivo = '{}_{}_Ranking Anual.xlsx'.format(dia_indicador.month, dia_indicador.day)
faturamento_lojas_ano.to_excel(r'Backup Arquivos Lojas\{}'.format(nome_arquivo))

# ranking diario
vendas_dia = vendas.loc[vendas['Data']==dia_indicador, :]
faturamento_lojas_dia = vendas_dia.groupby('Loja')[['Loja', 'Valor Final']].sum()
faturamento_lojas_dia = faturamento_lojas_dia.sort_values(by='Valor Final', ascending=False)
print('Ranking faturamento do dia:')
display(faturamento_lojas_dia)

nome_arquivo = '{}_{}_Ranking Dia.xlsx'.format(dia_indicador.month, dia_indicador.day)
faturamento_lojas_dia.to_excel(r'Backup Arquivos Lojas\{}'.format(nome_arquivo))

C:\Users\Paulo\AppData\Local\Temp\ipykernel_234728\1885395499.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  faturamento_lojas = vendas.groupby('Loja')[['Loja', 'Valor Final']].sum() # filtra a tabela por loja e soma os valores. Mostra 2

Ranking faturamento anual:

                                  Valor Final
Loja
Iguatemi Campinas                     1762419
Shopping Vila Velha                   1731167
Bourbon Shopping SP                   1726110
Rio Mar Recife                        1722766
Shopping SP Market                    1721763
Palladium Shopping Curitiba           1721120
Norte Shopping                        1711968
Ribeirão Shopping                     1707122
Iguatemi Esplanada                    1699681
Rio Mar Shopping Fortaleza            1698430
Shopping Center Leste Aricanduva      1682870
Novo Shopping Ribeirão Preto          1678225
Shopping Iguatemi Fortaleza           1674824
Center Shopping Uberlândia            1668921
Shopping União de Osasco              1663770
Shopping Barra                        1653103
Passei das Águas Shopping             1649014
Shopping Eldorado                     1648111
Salvador Shopping                     1646739
Shopping Center Interlagos            1640486
Shopping Ibirapuera                   1635060
Parque Dom Pedro Shopping             1631630
Shopping Recife                       1624879
Shopping Midway Mall                  1590441
Shopping Morumbi                      1586444

Ranking faturamento do dia:

C:\Users\Paulo\AppData\Local\Temp\ipykernel_234728\1885395499.py:15: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  faturamento_lojas_dia = vendas_dia.groupby('Loja')[['Loja', 'Valor Final']].sum()

                                  Valor Final
Loja
Salvador Shopping                        3950
Novo Shopping Ribeirão Preto             3400
Center Shopping Uberlândia               2651
Shopping Eldorado                        2391
Shopping Center Interlagos               1582
Shopping Recife                          1366
Norte Shopping                           1259
Shopping União de Osasco                 1207
Shopping Vila Velha                       937
Bourbon Shopping SP                       676
Ribeirão Shopping                         650
Shopping Center Leste Aricanduva          485
Palladium Shopping Curitiba               381
Rio Mar Shopping Fortaleza                368
Shopping Midway Mall                      170
Shopping Ibirapuera                       118

In [28]:
# email para diretoria:

Texto_diretoria = f'''
Prezados, bom dia

Melhor loja do Dia em Faturamento: Loja {faturamento_lojas_dia.index[0]} com Faturamento R${faturamento_lojas_dia.iloc[0, 0]:.2f}
Pior loja do Dia em Faturamento: Loja {faturamento_lojas_dia.index[-1]} com Faturamento R${faturamento_lojas_dia.iloc[-1, 0]:.2f}

Melhor loja do Ano em Faturamento: Loja {faturamento_lojas_ano.index[0]} com Faturamento R${faturamento_lojas_ano.iloc[0, 0]:.2f}
Pior loja do Ano em Faturamento: Loja {faturamento_lojas_ano.index[-1]} com Faturamento R${faturamento_lojas_ano.iloc[-1, 0]:.2f}

Segue em anexo os rankings do ano e do dia de todas as lojas.

Qualquer dúvida estou à disposição.

Att.,
Paulo
''' 

print(Texto_diretoria)

Prezados, bom dia

Melhor loja do Dia em Faturamento: Loja Salvador Shopping com Faturamento R$3950.00
Pior loja do Dia em Faturamento: Loja Shopping Ibirapuera com Faturamento R$118.00

Melhor loja do Ano em Faturamento: Loja Iguatemi Campinas com Faturamento R$1762419.00
Pior loja do Ano em Faturamento: Loja Shopping Morumbi com Faturamento R$1586444.00

Segue em anexo os rankings do ano e do dia de todas as lojas.

Qualquer dúvida estou à disposição.

Att.,
Paulo